body{

	margin: 0px;
	
}
.mainDiv{

	width: 100%;
	height: 700px;
	
}



.mainDiv img{

	width: 100%;
	margin-bottom: 0px;
	
}

.text{


overflow: hidden;
margin-top: -260px

}

.text h1{
    position: relative; 
	text-align: center;
	font-family:'Varela Round';
	font-size: 20px;
	letter-spacing: 10px;
}

.text h6{
    position: relative;
	text-align: center;
}

.text input{

width: 130px;
height: 35px;
margin: 0 auto;
background-color:rgba(61, 201, 179, 1);
font-size: 10px;

color:white;
font-family: sans-serif;
font-weight: bold;

}



.newSection{

	width: 100%;
	height: 200px;
	background-color:#f3f5f8;
	margin-top: 98px;
	margin-bottom: 0px;
	
}
.newSection h1{
    text-align: center;
	padding-top: 50px;
	font-size: 8px;
	font-family: sans-serif;
	color:black;
	


}
.newSectionTitle{

	width: 500px;
	height: 200px;
	text-align: center;
	margin: auto;
	


}
p{

	font-size: 10px;

}
a{

	text-decoration: none;
	color: black;
}
.Section{

	width: 100%;
	height: 100px;
	background-color:white;
	text-align: center;


}
.Section h1{
    font-size: 15px;
    text-transform: uppercase;
    color: #353535;
    letter-spacing: 1px;
    padding-bottom: 30px;
    font-weight: bold;



}
.sectionTitle{

	width: 400px;
	height: 30px;
	margin:auto;
}

.sectionTitle h1{

	font-size: 8px;
	font-family: sans-serif;
	text-align: center;
	color: #353535;
    padding-bottom: 30px;
    letter-spacing: 1px;
    padding-top: 10px;


}
i{

	color: black;
}
.containDiv{

	width: 100%;
	height: 250px;
	background-color:#f3f5f8;
	margin: auto;
	padding-left: 18px;
	padding-top: 20px;
	position: relative;



	
	
	
}
.newItem{

    padding-top:30px;
	width: 235px;
	margin: 5px;
	height: 170px;
	background-color:#f3f5f8;
	float: left;



}
.icon{

	width: 90px;
	height: 90px;
	background-color: white;
	margin: 0px auto;
	border-radius:50%;
	background: #3dc9b3;
	line-height: 60px;
}
.icon i{

	color: white;
	font-size: 30px;
	padding-top: 30px;

}
p{
	color: black;
	font-family: 'Varela Round';
	font-size: 6px;
}


.verticalLine{

	width:20px;
	height: 2px;
	background-color: #3dc9b3;;
	margin:auto;

}

